@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.cdnfonts.com/css/samsung-sans-4');

:root {
    --primary: #FFA6E1;
    --light-primary: #FFD9F2;
    --bg: #FDFAFA;
    --darkbg: #EBE4E8;
    --text: #A67C97;
    --orange: #FFC1A6;
    --green: #A4FDA4;
    --samsung: 'Samsung Sans', sans-serif;
    --futura: 'Futura PT', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

i {
    color: var(--text)
}

body {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    font-family: 'Futura PT', sans-serif;
    color: #4B3B2D;

}

.home-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg);
    overflow: hidden;
}

/**************** NAV BAR ****************/
.nav-bar {
    width: 100%;
    flex-basis: 10%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*** Logo ***/
.logo {
    width: 100%;
    height: 100%;
    flex-basis: 10%;
    display: flex;
    justify-content: left;
}

.logo>img {
    transform: scale(0.8, 0.8);
}


/*** Contact ***/
.contact {
    width: 100%;
    height: 70%;
    flex-basis: 20%;
    display: flex;
    justify-content: space-between;
}

/**/
.social-media {
    width: 100%;
    height: 100%;
    flex-basis: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10000px;
    box-shadow: 0 0 5px #A67C97;
}

.social-media>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media>a:hover a::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
}

/**/
.email {
    width: 100%;
    height: 100%;
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10000px;
    box-shadow: 0 0 5px #A67C97;
}

.email {
    width: 100%;
    height: 100%;
    flex-basis: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10000px;
    box-shadow: 0 0 5px #A67C97;
}

.email>div {
    font-size: 14px;
    font-weight: bold;
    color: var(--text);
    font-family: var(--samsung);
}



/**************** MAIN ****************/

.main {
    width: 100%;
    flex-basis: 85%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

/* Hero Image */
.hero-image {
    width: 100%;
    height: 100%;
    flex-basis: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/**/
.sphere-box {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 5;
}

.sphere {
    position: absolute;
    aspect-ratio: 1/1;
    border-radius: 10000000000000px;
}

.sphere-1 {
    width: 200px;
    top: 60%;
    left: 60%;
    background-image: radial-gradient(circle at 125px 50px, var(--bg), var(--green)50%);
}

.sphere-2 {
    width: 170px;
    top: 0%;
    left: 70%;
    background-image: radial-gradient(circle at 115px 48px, var(--bg), var(--light-primary)45%);
}

.sphere-3 {
    width: 120px;
    top: 65%;
    left: 12%;
    background-image: radial-gradient(circle at 65px 30px, var(--bg), var(--orange)50%);
}

.sphere-4 {
    width: 60px;
    top: 20%;
    left: 22%;
    background-image: radial-gradient(circle at 40px 20px, var(--bg), var(--green)50%);
}

.sphere-5 {
    width: 25px;
    top: 3%;
    left: 45%;
    background-image: radial-gradient(circle at 15px 8px, var(--bg), var(--orange)50%);
}

/**/
.main-image {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 10%;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.main-image>img {
    box-shadow: -93px 103px 56px rgb(166, 124, 151, 0.02), -52px 58px 47px rgb(166, 124, 151, 0.07), -23px 26px 35px rgb(166, 124, 151, 0.12), -6px 6px 20px rgb(166, 124, 151, 0.15);
}

#mockup-screen {
    transform: scale(0.9, 0.9);
    border-radius: 32.5px;

}



/* Introduction */
.introduction {
    width: 100%;
    height: 100%;
    flex-basis: 50%;
    padding: 5em;
    padding-right: 3em !important;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}

/**/
.intro-title {
    width: 100%;
    font-size: 3rem;
    font-weight: 600;
    font-family: var(--samsung);
    color: var(--text);
}

/**/
.intro-pharse {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 450;
    color: rgba(166, 124, 151, 0.5);
}

/**/
.projects-button {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--samsung);
    color: rgb(89, 66, 82);
    background-color: var(--primary);
    border-radius: 1000000px;
    box-shadow: 0px 55px 25px hsla(307, 100%, 70%, 0.08), 0px 31px 19px hsla(307, 100%, 70%, 0.12), 0px 12px 15px hsla(307, 100%, 70%, 0.15), 0px 3px 8px hsla(307, 100%, 70%, 0.18);
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55), box-shadow 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.projects-button:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 0px 25px 15px hsla(307, 100%, 70%, 0.01), 0px 14px 12px hsla(307, 100%, 70%, 0.05), 0px 10px 12px hsla(307, 100%, 70%, 0.09), 0px 5px 10px hsla(307, 100%, 70%, 0.12);

}



.sphere-1-out {
    transform: translate(150%, 200%);
    transition: transform .5s cubic-bezier(0.68, -0.35, 0.265, 1.55);
}

.sphere-2-out {
    transform: translate(150%, -200%);
    transition: transform .5s cubic-bezier(0.68, -0.35, 0.265, 1.55);
}

.sphere-3-out {
    transform: translate(-150%, 200%);
    transition: transform .5s cubic-bezier(0.68, -0.35, 0.265, 1.55);
}

.sphere-4-out {
    transform: translate(-500%, -200%);
    transition: transform .5s cubic-bezier(0.68, -0.35, 0.265, 1.55);
}

.sphere-5-out {
    transform: translate(50%, -1000%);
    transition: transform .5s cubic-bezier(0.68, -0.35, 0.265, 1.55);
}

.mockup-screen-hide {
    transform: scale(0, 0) !important;
    transition: transform .3s ease-in-out;
}










/*********************************************************Mobile****************************************************************/
@media only screen and (max-width: 480px) {
    .home-page {
        padding: 25px;
        overflow-y: scroll;
    }

    /**************** NAV BAR ****************/
    .nav-bar {
        width: 100%;
        height: 100%;
        flex-basis: 5%;
    }

    /*** Logo ***/
    .logo {
        width: 100%;
        height: 100%;
        flex-basis: 8%;
    }

    .logo>img {
        transform: scale(0.65, 0.65);
    }


    /*** Contact ***/
    .contact {
        width: 100%;
        height: 50%;
        flex-basis: 50%;
    }

    /**/
    .social-media {
        width: 100%;
        height: 100%;
        flex-basis: 55%;
        font-size: 12.5px;
    }

    .email>div{
        font-size: 10px;
    }

    .email>i {
       display: none;
    }

    /**************** MAIN ****************/

    .main {
        width: 100%;
        flex-basis: 85%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
    }

    .hero-image {
        width: 100%;
        height: 100%;
        flex-basis: 55%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }


    .sphere {
        transform: scale(0.5, 0.5);
    }

    .sphere-1 {
        width: 250px;
        top: 50%;
        left: 50%;
    }

    .sphere-2 {
        width: 170px;
        top: 2%;
        left: 60%;
    }
    
    .sphere-3 {
        width: 120px;
        top: 65%;
        left: 0%;
    }
    
    .sphere-4 {
        width: 60px;
        top: 20%;
        left: 12%;
    }
    
    .sphere-5 {
        width: 25px;
        top: 3%;
        left: 45%;
    }
    

    #mockup-screen {
        transform: scale(0.65, 0.65);
        border-radius: 32.5px;
    }


    /**/
    .introduction {
        width: 100%;
        height: 100%;
        flex-basis: 40%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 20px;
    }

    /**/
    .intro-title {
        width: 100%;
        font-size: 2rem;
    }

    /**/
    .intro-pharse {
        font-size: 1.3rem;
    }

}